<h1>Brand</h1>

<ul>
  <% @brands.each do |brand| %>
	<li>
	  <%= link_to brand.name, brand %>
	</li>
  <% end %>
</ul>

<%= link_to "NewBrand", new_brand_path %>

<%= will_paginate @brand %>


#offset is used to skip the page