<div class="d-flex align-items-center justify-content-center" >

<h1 class="font-italic">Product</h1>
</div>

<ul>
  <% @product.each do |product| %>
	<li>
	  <%= link_to product.name, product%>
	</li>
  <% end %>
</ul>



<%= link_to "NewProduct", new_product_path %>
<%#= link_to "Brand", brands_path %>


<div class="fixed-bottom">
<%= will_paginate @product %>
</div>




