<h1>Product</h1>

<ul>
  <% @product.each do |product| %>
	<li>
	  <%= link_to product.name, product%>
	</li>
  <% end %>
</ul>



<%= link_to "NewProduct", new_product_path %> ||
<%= link_to "Brand", brands_path %>



<%= will_paginate @product %>